.header-navigation {
background-color: #fff;
align-items: center;
display: flex;
}
.body {
    color: #434455;
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
}
.container {
    width: 1158px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
}
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {

    align-items: flex-start;
    flex-grow: 1;
    justify-content: space-between;
    margin-right: px;
}
.logo {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    display: inline-block;
    margin-bottom: 16px;
   
}
.logo:hover {
    color: #404bbf;
}
.logo:focus {
    color: #404bbf;
}
.logo-colour {
    color: #2e2f42;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
  }
    

.header-menu {
background: #fff;
display: flex;
flex-direction: row;
gap: 40px;

}

.header-menu-item {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}
.address-menu-link:hover {
color: #404bbf;
}
 .address-menu-link:focus {
    color: #404bbf;
 }   


.header-menu-link {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42; 
}

.header-menu-link:hover:focus {
    color: #404bbf
}

.address {
font-style: normal;
}

.address-menu {
display: flex;
gap: 40px;
}

.address-menu-item {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-right: 0;
    padding: 24px 0;
}

.address-menu-link {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



.hero-text {
font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 496px;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    color: #ffffff;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}
.hero-btn:hover {
    background-color: #404bbf
}
.hero-btn:focus {
background-color: #404BBF
}
.features {

}

.features-title {
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    


}

.features-list {

}

.features-item {

}

.features-subtitle {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
background-color: #F4F4FD
}

.team-title {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-list {
background-color: #f4f4fd;
}

.team-item {
    background-color: #fff;
}

.team-subtitle {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.portfolio-title {
    
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform:capitalize;
}
.card-title {
font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.2;
}
.portfolio-list {
background-color: #fff;
}


.portfolio-card {

}

.portfolio-image {

}
.card-content {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer {
background-color: #2e2f42;
}
.footer-link {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}
.logo {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        font-family: "Raleway", sans-serif;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}
.logo-colour {
color: #f4f4fd;
}
.header-menu-link:hover {
    color: #404bbf;
}
.header-menu-link:focus {
    color: #404bbf;
}
.logo .logo-colour {
    color: #2e2f42;
}
.logo .footer-logo-colour {
color: #f4f4fd;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
        margin-top: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.section {
    padding: 120px 
}